div.container{ 
display: flex;
align-items: center; 
} 


#img1{ 
width:300px; 
height:240px; 
} 

#img{ 
width:300px; 
height:240px; 
} 

header.heade { 
height: 100px; 
background-color: #FFAE00; 
color: #000000; 
width:100%; 
} 


TABLE{ 
padding-left: 15px; 
padding-bottom: 15px; 
} 

nav.gg{ 
display:block; 
align-items:center; 
}

div.log{ 
display:flex; 
align-items:center; 
}
 
#log { 
width: 100px; 
height: 100px; 
float: left; 
} 

div.child{  
color: #FFAE00; 
font-size: 150%; 
} 

div.container{ 
flex-direction:column; 
} 

div.log2{ 
background-color:#FFAE00; 
color: #000000; 
font-size: 125%; 
width: 100%; 
align-items: center;  
} 

.nav { 
max-width: 960px; 
margin:auto; 
} 

.nav div { 
display: inline-block; 
} 

.button{ 
border-radius: 3px; 
border: 1px; 
font-family: Arial; 
background-color: #FFAE00; 
font-size: 20px; 
width: 290px; 
text-align: center ; 
margin-bottom:4px; 
padding: 10px; 
} 
div a{ 
text-decoration: none; 
}

@media screen and (min-width:850px) 
{ 
	div.container{ 
flex-direction: column-reverse; 
} 

.nav { 
max-width: 960px; 
margin:auto; 
} 

.nav div { 
display: inline-block; 
} 

.button{ 
border-radius: 3px; 
border: 1px; 
font-family: Arial; 
background-color: #FFAE00;
font-size: 20px; 
width: 290px; 
text-align: center ; 
margin-bottom:4px; 
padding: 10px; 
} 

div a{ 
text-decoration: none; 
}

header.heade{ 
width:100%; 
background-color:#FFAE00; 
padding: 10px; 
height:190px; 
} 

div.c1{ 
color: #000000; 
font-size: 200%;
} 


#log{ 
float:left; 
width:175px; 
height:175px; 
} 

div.log{ 
font-size: 125%; 
max-width:960px; 
background-color:#FFAE00; 
color: #000000; 
display:flex; 
justify-content:space-around; 
align-items:center; 
flex-wrap:wrap; 
} 

div.log2{ 
font-size: 125%; 
max-width:960px; 
padding:10px; 
background-color:#FFAE00; 
color: #000000; 
} 
}

table
{
	border: 1px solid black;
	width: 100%; 

}

td
{
	border: 1px solid black;
}

tr.even { 
background: #88CC4B; 
} 

footer.b{  
background-color:#FFAE00; 
}

